* {
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(185, 41%, 84%);
}

.logo {
    display: block;
    
    margin-right: auto;
    margin-left: auto;
    padding: 85px 0;
}

h2 {
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 6px;
    color: hsl(186, 14%, 43%);
}

#error-message {
    /* display: none; */
    visibility: hidden;
    font-weight: 700;
    color: #B57B6D;
}

.container_inputs_row-3 div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.detail h2 {
    padding-bottom: 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 920px;

    margin-left: auto;
    margin-right: auto;
    padding: 32px;

    background-color: white;
    border-radius: 24px;
}

.container_inputs {
    max-width: 413px;
    padding: 20px;
}

.container_inputs_row-1 input {
    background: url(images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-color: hsl(203, 50%, 97%);
    background-position: 6% center;  
}

.container_inputs_row-3 input {
    background: url(images/icon-person.svg);
    background-repeat: no-repeat;
    background-color: hsl(203, 50%, 97%);
    background-position: 6% center;  
}



.select-tip_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: stretch;
    justify-items: stretch;
    gap: 16px;
}

.btn {
    justify-self: stretch;
    align-self: center;
}

/*
.btn {
    
    border: none;
    border-radius: 6px;

    width: 117px;
    height: 48px;
}
*/

/*
.btn:hover {
    background-color: hsl(173, 61%, 77%);
    
    color: hsl(183, 100%, 15%);
}
*/

.btn input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.btn label {
    display: block;
    padding: 6px 0;
    /* height: 100%; */

    background-color: hsl(183, 100%, 15%);
    
    font-size: 24px;
    font-weight: 700;
    color: white;

    border-radius: 6px;
    
    text-align: center;
    
    cursor: pointer;
}

.btn label:hover {
    background-color: hsl(173, 61%, 77%);
    
    color: hsl(183, 100%, 15%);
}

.btn input[type="radio"]:checked + label {
    background-color: #26C2AD;
    color: hsl(183, 100%, 15%);
}


.container_inputs_row-1, .container_inputs_row-2, .container_inputs_row-3 {
    padding-bottom: 40px;
}


/******* Inputs *******/

input {
    height: 48px;
    width: 98%;

    padding-right: 10px;
    
    border: none;
    border-radius: 6px;
    border: 1px solid white;
    background-color: hsl(203, 50%, 97%);
    
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
}

input:focus {
    border: 1px solid hsl(173, 61%, 77%);
    outline-color: hsl(173, 61%, 77%);
}

.btn input[type="radio"]:focus + label {
    height: 32px;
    
    border: 2px solid hsl(173, 61%, 77%);
}

#custom-pcent {
    width: 117px;
    height: 46px;
    
    margin: 0;
    padding: 0;
    
    text-align: center;
} 


/******* Results card *******/

.container_results {
    display: flex;
    flex-direction: column;
    background-color: hsl(183, 100%, 15%);
    width: 333px;
    border-radius: 14px;
    padding: 40px;
}

.results_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.container_results h2 {
    color: hsl(189, 41%, 97%);
    font-size: 17px;
}

.container_results p {
    color: hsl(184, 14%, 56%);
    font-size: 14px;
    font-weight: 700;
}

#tip-per-person, #total-per-person {
    color: hsl(172, 67%, 45%);
    font-size: 48px;
}

#reset-btn {
    margin-top: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    background-color: hsl(185, 41%, 84%);
    border: none;
    
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    font-size: 21px;
    border-radius: 6px;
    
    cursor: pointer;
}

#reset-btn:hover {
    background-color: hsl(173, 61%, 77%);
}

#reset-btn:disabled, #reset-btn[disabled] {
    background-color: #0D686D;
    color: hsl(183, 100%, 15%);
}



@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        max-width: 450px;
    }

    h2 {
        padding-bottom: 16px;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        border-radius: 24px 24px 0 0;
    }

    .container_inputs {
        width: 350px;
    }
    
    .select-tip_buttons {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .container_results {
        width: 300px;
    }

    #custom-pcent {
        width: 165px;
    }
}

@media only screen and (max-width: 375px) {
    .container {
        width: 311px;
    }
    .container_inputs {
        width: 320px;
    }

    #custom-pcent {
        width: 150px;
    }

    .container_results {
        padding: 40px 20px;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        width: 256px;
    }

    input {
        width: 95%;
    }

    .container_inputs {
        width: 280px;
        padding: 0;
    }

    #custom-pcent {
        width: 130px;
    }

    .container_results {
        padding: 40px 0px;
    }

    #tip-per-person, #total-per-person {
        font-size: 32px;
    }

    .results_row {
        justify-content: space-around;
    }

    #reset-btn {
        margin-top: 0;
        width: 265px;
        margin-left: auto;
        margin-right: auto;
    }
}